:root {
    --colorB: black;
    --colorW: white;
    --color1: linear-gradient(90deg, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    --color2:
}

@font-face {
    font-family: PT-Sherif;
    src: url(./assets/fonts/PTSherif/PTSerif-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: PT-Sherif;
    min-height: 100vh;
    width: 100%;
    color: var(--colorW);
    margin: 0;
    padding: 0;
    user-select: none;
}

section {
    height: 100%;
    color: white;
}

h1 {
    font-style: italic;
    font-size: 3rem;
    text-align: left;
    padding-top: 80px;
}

h2 {
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 30px;
}

h3 {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

h4 {
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
}

.href-top a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    width: 100%;
    position: fixed;
    top: 91%;
    right: 1%;
    height: 45px;
    width: 45px;
    border: 1px solid black;
    border-radius: 10px;
    background: rgba(234, 104, 88, 1);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: -90deg;
}

a:active {
    transform: scale(1.3);
}

#a-top:first-of-type:hover {
    animation: a-top1 1s infinite;
}

@keyframes a-top1 {
    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

header {
    height: 100vh;
    background: url(./assets/img/BG1.jpeg) center/cover;
}

nav {
    height: 70px;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo link";
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.77) 20%, rgba(0, 0, 0, 0.6027661064425771) 40%, rgba(0, 0, 0, 0.55) 60%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0.26102941176470584) 90%, rgba(0, 0, 0, 0) 100%);
    padding: 10px 20px;
}

.nav-img {
    grid-area: logo;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-img img {
    height: 45px;
    text-align: right;
}

.link-page {
    grid-area: link;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.link-page a {
    width: 120px;
    height: 30px;
    list-style-type: none;
    text-transform: capitalize;
    cursor: pointer;
    transition: 1s;
    color: white;
    text-decoration: none;
    font-style: italic;
    font-size: 1.1rem;
}

a:hover {
    letter-spacing: 3px;
}

a:active {
    /* Aggrandit l'élément */
    transform: scale(1.3);
}

.main-header {
    height: 100%;
    padding: 20px 80px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 40% 20%;
    grid-template-areas:
        "titre video"
        "text video"
        "infos infos";
}

.main-header-title {
    grid-area: titre;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main-title-color {
    background: linear-gradient(90deg, rgba(223, 51, 107, 1) 0%, rgba(233, 68, 106, 1) 9%, rgba(229, 79, 95, 1) 18%, rgba(234, 104, 88, 1) 27%, rgba(242, 120, 79, 1) 36%, rgba(228, 148, 73, 1) 45%, rgba(244, 166, 51, 1) 54%, rgba(234, 195, 98, 1) 67%, rgba(156, 130, 65, 1) 78%, rgba(214, 225, 220, 1) 88%, rgba(156, 219, 234, 1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-header-text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    padding-top: 30px;
}

.main-header-text p {
    grid-area: text;
    margin: 0;
}

.style-mht-color {
    background: rgba(233, 68, 106, 1);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.style-box-under-mht {
    background: #00000047;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    margin: 0;
}

.style-text-under-mht {
    background: rgba(156, 219, 234, 1);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-header-infos {
    grid-area: infos;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-header-infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.box-header-infos div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 20%;
    padding: 5px 10px;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0px 5px 30px black;
}

.box-left {
    border: 3px solid rgb(228, 59, 107);
}

.box-middle {
    border: 3px solid rgb(228, 148, 72);
}

.box-right {
    border: 3px solid rgb(194, 223, 224);
}

.main-header-infos h4 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.main-header-video {
    grid-area: video;
    display: flex;
    justify-content: center;
    align-items: center;
}

.YTB {
    width: 100%;
    height: 80%;
    display: block;
    margin: 0 auto;
}

.text-information-1 {
    background: whitesmoke;
    height: 100px;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-information-1 p {
    color: black;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    padding: 20px 80px;
}

.main-history {
    height: 90%;
    padding: 50px 80px;
    display: block;
    line-height: 20px;
    background: url(./assets/img/BG2.jpg) center/cover;
}

.history-wrapper {
    width: 100%;
    min-height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.history-wrapper img {
    height: 280px;
    margin-top: 20px;
}

.hb-1 {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.hb-1 div {
    padding: 20px 30px;
    height: 500px;
    width: 48%;
    background: #00000047;
    display: block;
    margin: 0 auto;
    text-align: center;
    backdrop-filter: blur(50px);
    border-radius: 20px;
}

.hb-1 p {
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
}

.hb1-left {
    border: 3px solid rgb(228, 59, 107);
    box-shadow: 0px 5px 30px black;
}

.hb1-left h3 {
    color: rgb(228, 59, 107);
}

.hb1-right {
    border: 3px solid rgb(236, 130, 76);
    box-shadow: 0px 5px 30px black;
}

.hb1-right h3 {
    color: rgb(236, 130, 76);
}

.hb-2 {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    max-width: 1300px;
}

.hb-2 p {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
}

.hb2-top {
    border: 3px solid rgb(231, 192, 97);
    box-shadow: 0px 5px 30px black;
    padding: 20px 30px;
    height: 100%;
    width: 98%;
    display: block;
    margin: 5px auto;
    text-align: center;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    background: #00000047;
    margin-bottom: 20px;
}
.hb2-top h3 {
    color: rgb(231, 192, 97);
}

.hb2-top-container {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hb2-top-container div {
    height: 100%;
}

.hb2-top-container img {
    height: 100px;
    margin: 0;
}
.hb2-top-container p {
    padding: 0;
    width: 100%;
}
.hb2-top-container ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.hb2-top-container li {
    list-style-type: none;
}

.hb2-top-container p {
    font-weight: 900;
}

.hb2-bottom {
    border: 3px solid rgb(167, 220, 231);
    box-shadow: 0px 5px 30px black;
    padding: 20px 30px;
    height: 450px;
    width: 98%;
    display: block;
    margin: 5px auto;
    text-align: center;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    background: #00000047;
    margin-bottom: 20px;
}

.hb2-bottom h3 {
    color: rgb(167, 220, 231);
}

.text-information-2 {
    background: whitesmoke;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-information-2 p {
    color: black;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    padding: 20px 80px;
}

.main-practice {
    min-height: 1200px;
    padding: 50px 80px;
    display: block;
    line-height: 20px;
    background: url(./assets/img/BG3.png) center/cover;
}

.main-practice img {
    height: 180px;
    margin-bottom: 10px;
}

.practice-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.pb-1 {
    padding: 20px 30px;
    height: 500px;
    text-align: center;
    border: 3px solid rgb(235, 106, 87);
    box-shadow: 0px 5px 30px black;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    background: #00000000;
    margin-bottom: 40px;
    position: relative;
}

.pb-1::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 90%;
    background: rgb(235, 106, 87);
    top: 27%;
    transform: translateX(-50%);
}

.pb1-top {
    height: 20%;
    text-align: center;
    margin-bottom: 30px;
}

.pb1-top h3 {
    color: rgb(235, 106, 87);
}

.pb1-bottom {
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pb1-bottom div {
    width: 33%;
}

.pb-bottom p {
    width: 75%;
    margin: 0 auto;
}

.pb-2 {
    padding: 20px 30px;
    height: 560px;
    text-align: center;
    border: 3px solid rgb(231, 192, 97);
    box-shadow: 0px 5px 30px black;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    background: #00000000;
    margin-bottom: 20px;
    position: relative;
}

.pb-2::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 90%;
    background: rgb(231, 192, 97);
    top: 54%;
    transform: translateX(-50%);
}

.pb-2 h3 {
    color: rgb(231, 192, 97);
    margin-bottom: 40px;
}

.beach-volley {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.bv-left {
    width: 50%;
    margin-bottom: 40px;
}

.bv-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volley-ball {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.vb-left {
    width: 50%;
    margin-bottom: 40px;
}

.vb-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-information-3 {
    background: whitesmoke;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-information-3 p {
    color: black;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    padding: 20px 80px;
}

.main-event {
    height: 100%;
    padding: 50px 80px;
    display: block;
    line-height: 20px;
    background: url(./assets/img/BG4.png) center/cover;
}

.event-wrapper {
    height: 100%;
    backdrop-filter: blur(50px);
    border: 3px solid #ff8177;
    box-shadow: 0px 5px 30px black;
    border-radius: 20px;
    background: #00000000;
    padding: 30px 20px;
    display: block;
    margin: 0 auto;
}

.event-wrapper p {
    margin: 20px 0;
}

.event-wrapper video {
    margin: 0 auto;
    border: 1px solid white;
}

.e-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
}

.e-top div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.e-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.e-bottom div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Responsive */
