header {
    height: 100vh;
    width: 100%;
    position: relative;

    .menu-item1 {
        top: 8vh;
        left: 10%;
    }
    .menu-item2 {
        top: 8vh;
        left: 26%;
        height: 13.3vh;
    }
    .menu-item3 {
        top: 8vh;
        left: 42%;
    }
    .menu-item4 {
        top: 8vh;
        left: 58%;
    }
    .menu-item2 {
        height: 13.3vh;
    }
    .menu-item1, .menu-item3, .menu-item4 {
        height: 20vh;
        }
    .menu-item1, .menu-item2, .menu-item3, .menu-item4 {
        position: fixed;
        width: 16%;
        display: none;
        background: white;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;

        ul {
            @include alignChildren(space-around);
            flex-direction: column;
            @include fullSize;

            li {
                font-size: .9rem;
                font-weight: normal;
                @include fullSize;

                a {
                    @include fullSize;
                    color: black;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    @include centerChild;
                    transition: .5s;
                    letter-spacing: 2px;
    
                    &:hover {
                        font-weight: 900;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    
    nav {
        height: 8vh;
        width: 80%;
        left: 10%;
        margin: 0 auto;
        position: fixed;
        z-index: 1;
        background: linear-gradient(110deg, rgba(200,232,239,1) 0%, rgba(170,223,235,1) 15%, rgba(138,217,234,1) 29%, rgba(65,205,235,1) 44%, rgba(28,193,190,1) 60%, rgba(14,127,152,1) 73%, rgba(7,91,109,1) 85%, rgba(6,62,74,1) 100%);
        transform: translateY(-70px);
        animation: AnimNav 1s ease forwards;
        font-weight: 900;
        transition: .5s;
        
        @media screen and (max-width: 600px) {
            height: 5vh;
        }

        @keyframes AnimNav {
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }
        
        ul {
            @include fullSize;
            @include centerChild;
            position: relative;

            li {
                @include fullSize;
                text-transform: uppercase;
                font-size: 1.2rem;
                letter-spacing: 2px;
                @include alignChildren(space-around);
                transition: .3s;
                color: white;

                @media screen and (max-width: 800px) {
                    font-size: .8rem;
                }
                @media screen and (max-width: 600px) {
                    font-size: 0.5rem; ;
                }
                @media screen and (max-width: 400px) {
                    font-size: 0.4rem; ;
                }

                #btn-nav1, #btn-nav2, #btn-nav3, #btn-nav4 {
                    @include fullSize;
                    @include centerChild;
                }

                &:hover {
                    background: rgba(255, 255, 255, 1);
                    color: black;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    letter-spacing: 5px;
                }


            }
        }
    }
    .main-header {
        height: 100vh;
        margin: 0 auto;
        padding: 100px 50px 60px 50px;
        color: $black;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 10% 60% 30%;
        grid-template-areas: 
        "menu content"
        "menu content"
        "news content";

        @media screen and (max-width: 600px) {
            height: 95vh;
        }
        
        .header-menu {
            grid-area: menu;
            margin: 0 auto;
            position: fixed;
            margin-top: 3%;
            margin-left: 0%;
            height: 50%;
            width: 20%;
            @include alignChildren(space-around);
            flex-direction: column;
            border-radius: 30px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(20px);

            h3 {
                height: 15%;
                width: 100%;
                text-transform: uppercase;
                font-size: 1.5rem;
                @include centerChild;
                color: white;
                background: linear-gradient(110deg, rgba(200,232,239,1) 0%, rgba(170,223,235,1) 15%, rgba(138,217,234,1) 29%, rgba(65,205,235,1) 44%, rgba(28,193,190,1) 60%, rgba(14,127,152,1) 73%, rgba(7,91,109,1) 85%, rgba(6,62,74,1) 100%);
                border-radius: 30px 30px 0 0;
                border-bottom: 3px solid rgba(0, 0, 0, 0.2);
            }

            ul {
                height: 85%;
                width: 100%;
                @include alignChildren(space-between);
                flex-direction: column;
                font-weight: bold;
                text-transform: uppercase;
                font-family: roboto-bold;
                

                li {
                    text-align: left;
                    @include fullSize;
                    text-transform: uppercase;
                    padding-left: 10px;

                    a {
                        @include fullSize;
                        color: rgba(0, 0, 0, .8);
                        display: flex;
                        font-size: 1rem;
                        align-items: center;
                        padding-left: 5px;
                        transition: .5s;

                        &:hover {
                            color: $color1;
                            letter-spacing: 2px;
                        }
                        span {
                            color: rgba(0, 0, 0, 0.4);
                            margin-right: 2%;
                        }
                    }
                }
            }
        }

        .header-news {
            grid-area: news;
            position: fixed;
            top: 70%;
            right: 61%;
            height: 100%;
            width: 50%;
            text-align: center;
            padding-top: 50px;

            p {
                width: 40%;
                text-align: center;
                margin: 0 auto;
            }

            img {
                height: 40px;
                padding-top: 10px;
                transition: .5s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .header-content {
            grid-area: content;
            place-content: center;
            background: rgba(255, 255, 255, 0.4);
            padding: 20px 40px;
            margin-right: 1.5%;
            margin-left: 0.5%;
            backdrop-filter: blur(5px);
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
            border-radius: 10px;

            .header-title {
                @include alignChildren(center);
                margin-bottom: 20px;


                h1 {
                    grid-area: title;
                    font-size: 3rem;
                    text-transform: capitalize;
                }
                img {
                    padding-left: 20px;
                    height: 50px;
                }
            }
            h2 {
                font-size: 2rem;
                margin-bottom: 20px;
                margin-left: 35px;
                text-align: left;
            }
            .box-container {
                display: block;
                gap: 40px;

                .box {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    
                    p {
                        width: 60%;
                        line-height: 25px;
                    }

                    img {
                        height: 200px;
                    }
                }
            }
        }
    }
}

