main {
    min-height: 3000px;

    #history {
        height: 100px;
    }

    h2 {
        font-size: 2rem;
    }
    h3 {
        text-transform: capitalize;
    }

    h2, h3 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 50px;
        line-height: 30px;
    }

    .section-0 {
        margin-left: 27%;
        margin-right: 4%;
        padding: 30px 0px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px);
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
        display: block;
        border-radius: 10px;

        .title-container {
            @include alignChildren(center);
            margin-bottom: 20px;


            h1 {
                font-size: 3rem;
                text-transform: capitalize;
            }
            img {
                padding-left: 20px;
                height: 50px;
            }
        }
        h2 {
            font-size: 2rem;
            margin-bottom: 20px;
            margin-left: 35px;
            text-align: left;
        }
        .box-container {
            display: block;

            .box {
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                p {
                    width: 60%;
                    line-height: 30px;
                }

                img {
                    height: 200px;
                }
            }
        }
    }

    .section-1 {
        margin-left: 27%;
        margin-right: 4%;
        padding: 30px 40px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px);
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
        display: block;
        border-radius: 10px;

        .box-container {
            @include alignChildren(space-around);

            .box {
                text-align: center;

                img {
                    height: 150px;
                    margin-bottom: 30px;
                }
            }
        }
    }

    #field {
        height: 100px;
    }

    .section-2 {
        margin-left: 27%;
        margin-right: 4%;
        padding: 30px 40px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px);
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
        display: block;
        border-radius: 10px;

        img {
            display: block;
            margin: 0 auto;
        }
    }
    
    #rule {
        height: 100px;
    }

    .section-3 {
        margin-left: 27%;
        margin-right: 4%;
        padding: 30px 40px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px);
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
        display: block;
        border-radius: 10px;

        p {
            margin: 0;
        }

        .video-container {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }

    #event {
        height: 100px;
    }

    .section-4 {
        margin-left: 27%;
        margin-right: 4%;
        padding: 30px 40px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px);
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
        display: block;
        border-radius: 10px;
        position: relative;

        .first-part {
            margin-bottom: 50px;
        }

        .first-part, .second-part {

            .title-container {
                @include alignChildren(none);
                width: 100%;
                margin-bottom: 20px;
    
                #logo-JO2024 {
                    height: 60px;
                    margin-left: 5%;
                }
                #logo-BeachProTour {
                    height: 40px;
                    margin-left: 5%;
                }
    
                h3 {
                    margin: 0;
                }
            }
            .place {
                @include alignChildren(space-around);
                p {
                    width: 60%;
                    margin-right: 10%;

                    a {
                        color: black;
                    }
                }
    
                #poster-JO_2024 {
                    height: 350px;
                }

                #poster-BeachProTour {
                    height: 450px;
                }
            }
        }
    }

    #famous-player {
        height: 100px;
    }

    .section-5 {
        margin-left: 27%;
        margin-right: 4%;
        padding: 30px 40px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px);
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
        display: block;
        border-radius: 10px;

        h3 {
            font-size: 1.5rem;
        }

        h4 {
            text-transform: capitalize;
            margin-bottom: 20px;
            text-align: center;
        }

        img {
            border-radius: 10px;
            display: block;
            margin: 0 auto;
            height: 150px;
        }

        p {
            margin-top: 20px;
        }

        video {
            display: block;
            margin: 0 auto;
        }
    }

    #bottom {
        height: 100px;
    }
}