.href-top a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    width: 100%;
    position: fixed;
    top: 92%;
    right: 1%;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background: rgb(226,57,106);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: -90deg;
    cursor: pointer;

    a:active {
        transform: scale(1.3);
    }
    span {
        margin-bottom: 1px;
    }
}
#a-top:first-of-type:hover {
    animation: a-top1 1s infinite;

    @keyframes a-top1 {
        50% {
            transform: scale(1.1);
        }
    
        100% {
            transform: scale(1);
        }
    }
}