header {
    color: $white;
    background: url(../img/BG1-3.png) center/cover;
    position: relative;

    .menu-item1 {
        top: 8vh;
        left: 10%;

    }
    .menu-item2 {
        top: 8vh;
        left: 26%;
        height: 13.3vh;
    }
    .menu-item3 {
        top: 8vh;
        left: 42%;
    }
    .menu-item4 {
        top: 8vh;
        left: 58%;
    }
    .menu-item2 {
        height: 13.3vh;
    }
    .menu-item1, .menu-item3, .menu-item4 {
        height: 20vh;
        }
    .menu-item1, .menu-item2, .menu-item3, .menu-item4 {
        position: fixed;
        width: 16%;
        display: none;
        background: white;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;

        ul {
            @include alignChildren(space-around);
            flex-direction: column;
            @include fullSize;

            li {
                font-size: .9rem;
                font-weight: normal;
                @include fullSize;

                a {
                    @include fullSize;
                    color: black;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    @include centerChild;
                    transition: .5s;
                    letter-spacing: 2px;
    
                    &:hover {
                        font-weight: 900;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    
    nav {
        height: 10vh;
        width: 80%;
        left: 10%;
        margin: 0 auto;
        position: fixed;
        z-index: 1;
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0 7px 20px 2px rgba(255, 255, 255, 0.4);
        transform: translateY(-70px);
        animation: AnimNav 1s ease forwards;
        font-weight: 900;
        transition: .5s;
        
        @media screen and (max-width: 600px) {
            height: 5vh;
        }

        @keyframes AnimNav {
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }
        
        ul {
            @include fullSize;
            @include centerChild;
            position: relative;

            li {
                @include fullSize;
                text-transform: uppercase;
                font-size: 1.2rem;
                letter-spacing: 2px;
                @include alignChildren(space-around);
                transition: .3s;
                cursor: pointer;

                @media screen and (max-width: 800px) {
                    font-size: .8rem;
                }
                @media screen and (max-width: 600px) {
                    font-size: 0.5rem; ;
                }
                @media screen and (max-width: 400px) {
                    font-size: 0.4rem; ;
                }

                a {
                    @include fullSize;
                    @include centerChild;
                }

                #Logo {
                    background: none;
                    border: none;
            
                    img {
                        height: 60px;
                    }
                }

                #btn-nav1, #btn-nav2, #btn-nav3, #btn-nav4 {
                    @include fullSize;
                    @include centerChild;
                }

                &:hover {
                    background: rgba(255, 255, 255, 1);
                    color: black;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    letter-spacing: 5px;
                }
            }
        }
    }
    .main-header {
        height: 100vh;
        margin: 0 auto;

        @media screen and (max-width: 600px) {
            height: 95vh;
        }

        .main-header-container {
                @include fullSize;
                padding: 100px 0;
                display: grid;
                grid-template-rows: 70% 20% 10%;
                place-items: center;
                text-align: center;
                transform: translateY(50px);
                animation: Animmainheadertext 1s ease forwards;

                @keyframes Animmainheadertext {
                    to {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }

                h1 {
                    font-size: 3rem;
                    color: $white;
                    letter-spacing: 5px;

                    @media screen and (max-width: 1200px) {
                        font-size: 2rem;
                    }
                    @media screen and (max-width: 800px) {
                        font-size: 1.5rem;
                    }
                    @media screen and (max-width: 600px) {
                        font-size: 1rem;
                        width: 80%;
                    }
                }

                .style-box-header {
                    background: #00000047;
                    border-radius: 20px;
                    height: 40px;
                    max-width: 60%;
                    text-align: center;
                    padding: 5px 20px;
                    margin: 0 auto;

                    @media screen and (max-width: 900px) {
                        height: 60px;
                        @include centerChild;
                    }

                    #ht1 {
                        line-height: 30px;
                        text-align: center;
                        color: white;
    
                        @media screen and (max-width: 1200px) {
                            font-size: 1rem;
                        }
    
                        @media screen and (max-width: 800px) {
                            line-height: 20px;
                            font-size: .8rem;
                        }
                        @media screen and (max-width: 600px) {
                            font-size: .6rem;
                        }
                    }

                    .style-text-infos-color {
                        background: $color1;
                        background-clip: border-box;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: 900;
                    }
                }
                span {
                    height: 50px;
                    width: 50px;
                    background: transparent;
                    color: white;
                    border: 2px solid white;
                    border-radius: 40px;
                    @include centerChild;
                    transition: .5s;

                    @media screen and (max-width: 800px) {
                        height: 50px;
                        width: 50px;
                    }

                    &:hover {
                        transform: scale(1.2);
                    }

                    a {
                        @include fullSize;
                        @include centerChild;
                        i {
                            font-size: 1.3rem;
                        }
                    }
                }
        }
    }
}