header {
    height: 100vh;
    width: 100%;
    color: $white;
    background: url(../img/BG1-2.jpeg) center/cover;

    nav {
        height: 70px;
        display: block;
        margin: 0 auto;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.77) 20%, rgba(0, 0, 0, 0.6027661064425771) 40%, rgba(0, 0, 0, 0.55) 60%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0.26102941176470584) 90%, rgba(0, 0, 0, 0) 100%);  
        transform: translateY(-70px);
        animation: AnimNav 1s ease forwards;
        font-family: roboto-light;
        font-style: italic;

        @keyframes AnimNav {
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }
        
        ul {
            height: 100%;
            width: 100%;
            @include center-content-c-c;

            &:hover li:not(:hover) {
                background: none;
                color: $white;
            }

            li:nth-child(1):hover,
            li:nth-child(7):hover {
            background: none;
            }

            li {
                height: 100%;
                width: 100%;
                text-transform: capitalize;
                font-size: 1.1rem;
                text-align: center;
                font-weight: 500;
                display: flex;
                align-items: center;

                &:nth-child(2){
                    background: rgba(255, 255, 255, 0.3);
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.3);
                }

                a {
                    transition: .25s;
                    letter-spacing: 2px;
                    color: white; 
                    height: 100%;
                    width: 100%;
                    @include center-content-c-c;

                    &:hover {
                        letter-spacing: 4px;
                    }

                    img {
                        height: 45px;
                    }
                }
            }
        }
    }
    .main-header {
        height: 90%;
        padding: 40px 80px;
        display: block;

        .main-header-container {
            height: 100%;
            @include center-content-sb-c;

            .main-header-text {
                height: 100%;
                width: 50%;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: left;
                transform: translateX(-50px);
                animation: Animmainheadertext 1s ease forwards;

                @keyframes Animmainheadertext {
                    to {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }


                h1 {
                    font-size: 3.5rem;
                    text-align: left;
                    margin-bottom: 20px;
                    font-family: roboto-bold;
                    color: $white;

                    .style-title-color {
                        background: linear-gradient(90deg, rgba(223, 51, 107, 1) 0%, rgba(229, 79, 95, 1) 20%, rgba(234, 104, 88, 1) 35%, rgba(242, 120, 79, 1) 36%, rgba(228, 148, 73, 1) 45%, rgba(244, 166, 51, 1) 54%, rgba(234, 195, 98, 1) 67%, rgba(214, 225, 220, 1) 88%, rgba(156, 219, 234, 1) 100%);
                        background-clip: border-box;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                #ht1 {
                    width: 80%;
                    line-height: 30px;
                    font-size: 1.2rem;
                }

                .style-title-text-color {
                    background: rgb(226,57,106);
                    background-clip: border-box;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 900;

                }
                .style-box-header {
                    background: #00000047;
                    border-radius: 20px;
                    padding: 10px;
                    width: 80%;
                    margin: 0;

                    #ht2 {
                        font-size: 1.2rem;
                    }

                    .style-text-infos-color {
                        background: rgb(156,219,234);
                        background-clip: border-box;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: 900;
                    }
                }
            }
            .main-header-video {
                height: 80%;
                width: 50%;
                @include center-content-c-c;
                transform: translateX(50px);
                animation: AnimYTB 1s ease forwards;

                @keyframes AnimYTB {
                    to {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }

                .YTB {
                    width: 100%;
                    height: 90%;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}