.section2 {
    min-height: 500px;
    background: rgba(0, 0, 0, 0.6);
    margin: 15px;
    padding: 50px 80px;
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;

    @media screen and (max-width: 1250px) {
        padding: 50px 50px;
    }
    @media screen and (max-width: 600px) {
        padding: 30px 30px;
    }
    @media screen and (max-width: 500px) {
        padding: 30px 10px;
    }

    h2 {
        font-size: 2.5rem;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        font-family: $fontthinitalic;
        position: relative;

        @media screen and (max-width: 1150px) {
            font-size: 1.8rem;
        }

        @media screen and (max-width: 950px) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: 600px) {
            font-size: 1.2rem;
            margin: 0 auto;
        }
        @media screen and (max-width: 500px) {
            font-size: .8rem;
        }

        &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 20%;
            background: rgba(255, 255, 255, .8);
            left: 3%;
            top: 50%;

            @media screen and (max-width: 1500px) {
                width: 10%;
            }

            @media screen and (max-width: 950px) {
                display: none;
            }
        }
        &::before {
            content: "";
            position: absolute;
            height: 2px;
            width: 20%;
            background: rgba(255, 255, 255, .8);
            right: 3%;
            top: 50%;

            @media screen and (max-width: 1500px) {
                width: 10%;
            }

            @media screen and (max-width: 950px) {
                display: none;
            }
        }
    }
    #style-section2 {
        font-size: 2.6rem;
        font-family: $font1;
        color: $color2;
        margin-bottom: 50px;

        @media screen and (max-width: 950px) {
            font-size: 1.4rem;
        }
        @media screen and (max-width: 500px) {
            font-size: 1rem;
        }
    }
    .formular {
        min-height: 400px;
        .formular-top {
            display: flex;
            text-align: left;
            margin-bottom: 40px;

            @media screen and (max-width: 500px) {
                @include centerChild;
            }

            i {
                font-size: 1.5rem;
                color: rgba(255, 255, 255, 0.8);

                @media screen and (max-width: 1110px) {
                    font-size: 1.2rem;
                }
                @media screen and (max-width: 700px) {
                    font-size: 1rem;
                }
                @media screen and (max-width: 500px) {
                    font-size: .8rem;
                }
            }

            h4 {
                font-size: 1.4rem;
                text-transform: uppercase;
                padding-left: 10px;
                color: rgba(255, 255, 255, 0.8);

                @media screen and (max-width: 1110px) {
                    font-size: 1.2rem;
                }
                @media screen and (max-width: 700px) {
                    font-size: 1rem;
                }
                @media screen and (max-width: 500px) {
                    font-size: .8rem;
                }
            }
        }

        form {
            width: 100%;
            margin: 0 auto;
            text-align: left;
            display: grid;
            grid-template-columns: 2fr;
            grid-template-rows: 2fr;
            grid-template-areas: 
            "text-form text-area"
            "btn btn";
            gap: 40px;
            box-sizing: border-box;

            @media screen and (max-width: 1100px) {
                @include alignChildren(space-around);
                flex-direction: column;
                text-align: center;
            }

            label {
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.8);
                font-weight: 900;
                letter-spacing: 3px;

                @media screen and (max-width: 1100px) {
                    font-size: .9rem;
                }
                @media screen and (max-width: 700px) {
                    font-size: .7rem;
                }
                @media screen and (max-width: 500px) {
                    font-size: .6rem;
                }
            }

            input, textarea {
                background: transparent;
                color: white;
                padding: 5px 10px;
                border: 1px solid rgba(255, 255, 255, 0.8);
                border-radius: 5px;
            }

            input {
                width: 300px;
                height: 30px;

                @media screen and (max-width: 500px) {
                    width: 200px;
                }
            }

            textarea {
                height: 180px;
                width: 500px;
                background: transparent;

                @media screen and (max-width: 700px) {
                    width: 300px;
                }

                @media screen and (max-width: 500px) {
                    width: 200px;
                }
            }

            .text-form {
                grid-area: text-form;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;
               
            }
            .text-area {
                grid-area: text-area;
                @include centerChild;
                flex-direction: column;
                gap: 20px;
            }
            .submit-container {
                @include fullSize;
                grid-area: btn;
                @include centerChild;

                input {
                    height: 55px;
                    width: 230px;
                    @include centerChild;
                    font-size: 1rem;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    cursor: pointer;
                    background: rgb(226,57,106);
                    font-family: $fontbold;
                    transition: .3s;

                    @media screen and (max-width: 600px) {
                        width: 150px;
                        height: 40px;
                        font-size: .8rem;
                    }
                    @media screen and (max-width: 500px) {
                        font-size: .6rem;
                    }

                    &:hover {
                        transform: translateX(5px);
                    }
                }
            }
        }
    }
}