section {
    min-height: 1000px;
    background: $white;
    color: $black;

    .main-part {
        padding: 40px 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        position: relative;

    &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 90%;
        top: 47%;
        left: 50%;
        background: rgb(226,57,106);
        transform: translateX(-50%);
    }

        h2 {
            width: 45%;
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 50px;
            font-family: $font2, sans-serif;
        }

        h3 {
            font-family: $font2, sans-serif;
            font-size: 1.4rem;
        }

        p {
            line-height: 20px;
            font-size: .9rem;
        }

        .main-event {
            height: 450px;
            @include center-content-sb-c;
            margin-bottom: 50px;

            .box-event {
                height: 350px;
                width: 26%;
                padding: 0px 20px;
                background: $whitesmoke;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: last baseline;

                &:hover {
                    color: $white;
                    background: linear-gradient(210deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 18%, rgba(45,26,32,1) 31%, rgba(223,51,107,1) 63%, rgba(234,195,98,1) 100%);
                }

                #icon-event {
                    height: 12%;
                    width: 40px;
                    color: $whitesmoke;
                    background: rgb(226,57,106);
                    border-radius: 50px;
                    @include center-content-c-c;
                }

                p {
                    font-weight: normal;
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    flex-direction: column;
                }
            }
        }
    }
    .main-news {
        height: 500px;
        @include center-content-sb-c;

        .box-news {
            height: 700px;
            @include center-content-c-c;
            flex-direction: column;

            h3 {
                margin-bottom: 20px;
            }

            .box-news-container {
                @include center-content-sa-c;
                
                .infos-container {
                    @include center-content-se-c;
                    flex-direction: column;
                    height: 100%;
                    width: 50%;

                    p {
                        font-size: .9rem;
                        text-align: center;
                    }

                    .partner {
                        height: 100px;
                        width: 250px;
                        @include center-content-se-c;
                        background: rgb(245,245,245);
                        border-radius: 20px;
                        text-align: center;

                        img {
                            height: 80px;
                        }
                        a {
                            height: 100%;
                            width: 100%;
                            text-decoration: none;
                            font-weight: 600;
                            color: black;
                            font-family: 'Roboto-Bold', sans-serif;
                            @include center-content-se-c;

                            &:hover {
                                color: $white;
                                background: linear-gradient(210deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 18%, rgba(45,26,32,1) 31%, rgba(223,51,107,1) 63%, rgba(234,195,98,1) 100%);
                                border-radius: 20px;
                            }
                        }

                        #icon-section {
                            height: 50px;
                            width: 50px;
                            color: rgb(27,35,42);
                            background: rgb(226,57,106);
                            border-radius: 30px;
                            @include center-content-c-c;
                            
                        }
                    }
                }
            }
        }
    }
}