// Color
$white: white;
$whitesmoke: whitesmoke;
$black: black;

// Font 

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
  }

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

// Mixins
@mixin center-content-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin center-content-sa-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin center-content-se-c {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@mixin center-content-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Global settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    min-height: 100vh;
    font-family: roboto-light;
    color: $black;

    &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: $black;
        animation: AnimBefore 1s ease forwards;

        @keyframes AnimBefore {
            to {
                opacity: 0;
            }
        }
    }
}

// Scroll lower
html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
    cursor: pointer;
}

p {
    font-size: 1rem;
    letter-spacing: 1px;
}